<img src="/dams-blank.png" id="terrain" hidden="hidden">

<canvas id="canvas" data-terrain-map="<%= terrain_string %>" width="800" height="600" style="background-color:#cc9933; border:2px solid red; float:left;"></canvas>

<canvas id="topo-grid" data-topo="<%= topo_string %>" data-m="<%= get_m %>" data-n="<%= get_n %>" width="200" height="140" style="background-color:#cccccc; border:2px solid red; margin:40px; float:left;"></canvas>

<h1>Dams - A dam building simulation by JRS</h1>
<p>Welcome to Dams, a dam building simulation built with Sinatra, Coffeescript, and HTML5 Canvas.</p>
